qwen.md
REference_textbook
C:\Users\abiju\Desktop\Project-Velcro\.env
.env
REference_textbook/artemis_fowl.pdf
REference_textbook/Chocolate.pdf
gemini_proposal.py
qwen_proposal.py
gpt_propsal.py
Books
where_we_left_off_backend/data/processed