@import "tailwindcss";

:root {
  --first-color: #0f172a;
  --second-color: #1e293b;
  --third-color: #38bdf8;
  --fourth-color: #f8fafc;

  --background: var(--first-color);
  --foreground: var(--fourth-color);
}

.first-color {
  color: var(--first-color);
}

.second-color {
  color: var(--second-color);
}

.third-color {
  color: var(--third-color);
}

.fourth-color {
  color: var(--fourth-color);
}

.bg-first-color {
  background-color: var(--first-color);
}

.bg-second-color {
  background-color: var(--second-color);
}

.bg-third-color {
  background-color: var(--third-color);
}

.bg-fourth-color {
  background-color: var(--fourth-color);
}

.border-third-color {
  border-color: var(--third-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
